@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <h2>Sprinkler 1</h2>
        <ul>
            <li>Current Status: -</li>
            <li><a asp-area="" asp-controller="Home" asp-action="Change" asp-route-pinNr="3" asp-route-sprinklerAction="on">Turn On</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Change" asp-route-pinNr="3" asp-route-sprinklerAction="off">Turn Off</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Sprinkler 2</h2>
        <ul>
            <li>Current Status: -</li>
            <li><a asp-area="" asp-controller="Home" asp-action="Change" asp-route-pinNr="4" asp-route-sprinklerAction="on">Turn On</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Change" asp-route-pinNr="4" asp-route-sprinklerAction="off">Turn Off</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Sprinkler 3</h2>
        <ul>
            <li>Current Status: -</li>
            <li><a asp-area="" asp-controller="Home" asp-action="Change" asp-route-pinNr="17" asp-route-sprinklerAction="on">Turn On</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Change" asp-route-pinNr="17" asp-route-sprinklerAction="off">Turn Off</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Sprinkler 4</h2>
        <ul>
            <li>Current Status: -</li>
            <li><a asp-area="" asp-controller="Home" asp-action="Change" asp-route-pinNr="27" asp-route-sprinklerAction="on">Turn On</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Change" asp-route-pinNr="27" asp-route-sprinklerAction="off">Turn Off</a></li>
        </ul>
    </div>
</div>
